---
import Layout from '../layouts/SplashLayout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection("blog");
allPosts.sort((a:any, b:any) => (b.data.date - a.data.date))

const {posts} = Astro.props
---

<Layout>
    <ul>
        {
            allPosts.map((post: any)=>(
                <li>
                    <a href={'blog/' + post.id}>{post.data.title}</a>
                </li>
            )
            )
        }
    </ul>
</Layout>
